.container-contact {
    display: grid;
    height: 100%;
    width: auto;
    padding: 0;
    grid-template-rows: 1.5fr 1fr 1fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-areas: 
      "header header header header header"
      "left-sidebar image2 content2 image4 content4"
      "left-sidebar image3 content3 image5 content1"
      "footer footer footer-l footer-r footer-r"
    ;
  }