body,html {
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

.content {
display: grid;
height:fit-content;
width: auto;
padding: 0;
grid-template-rows: 1.5fr 2fr 2fr 2fr 1fr;
grid-template-columns: 1fr 4fr 1fr 4fr;
grid-template-areas: 
"header header header header"
"image5 content5 content5 content5"
"image1 content1 image2 content2"
"image3 content3 image4 content4"
"footer-l footer-l footer-l footer-l "
;
}

/* "left-sidebar footer footer right-sidebar" */

.main-header {
grid-area: header;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
background-color: powderblue;
width: 100%;

}
.main-header:hover {
cursor:zoom-in;

}

.image1 {
grid-area: image1;
display: flex;
justify-content:center;
align-items: center;
flex-direction: row;
}
.image2 {
grid-area: image2;
display: flex;
justify-content:center;
align-items: center;
flex-direction: row;
}
.image3 {
grid-area: image3;
display: flex;
justify-content:center;
align-items: center;
flex-direction: row;
}
.image4 {
grid-area: image4;
display: flex;
justify-content:center;
align-items: center;
flex-direction: row;
}

.image5 {
grid-area: image5;
display: flex;
justify-content:center;
align-items: center;
flex-direction: row;
}

.img-size {
width:60px;
height: 60px;
}

.img-profile {
border-radius: 50%;
size: 50px;
border: 1px solid #ddd;
margin: 20px;
}

.img-profile:hover {
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.main-content_1 {
grid-area: content1;
display: flex;
justify-content:left;
align-items: center;
flex-direction: row;
font-size:large;
}

.main-content_2 {
grid-area: content2;
display: flex;
justify-content:left;
align-items: center;
flex-direction: row;
font-size:large;
}

.main-content_3 {
grid-area: content3;
display: flex;
justify-content:left;
align-items:center;
flex-direction: row;
font-size:large;
}

.main-content_4 {
grid-area: content4;
display: flex;
justify-content:left;
align-items:center;
flex-direction: row;
font-size:large;
}

.main-content_5 {
grid-area: content5;
display: flex;
justify-content:left;
align-items:center;
flex-direction: row;
font-size:large;
}

.border_up {
border-top: 1px solid lightgrey;
}

.border_up_footer {
border-top: 2px solid powderblue;
}

.center {
position: absolute;
top: 0;
left: 0; 
bottom:0;
right:0;
margin:auto;
}


.main-left-sidebar {
grid-area: left-sidebar;
font-size: larger;
}

.main-right-sidebar {
grid-area: right-sidebar;
font-size: larger;
}


.main-footer-left {
grid-area: footer-l;
font-size: larger;
display: flex;
flex-direction: row;
align-items:center;
flex-direction: row;
justify-content:left;
}

.main-footer-right {
grid-area: footer-r;
font-size: larger;
display: flex;
flex-direction: row;
align-items:center;
flex-direction: row;
justify-content:left;

}

.size {
height: 50px;
width: 50;
}

.size_small {
font-size: small;
}

/* .topnav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #f1f1f1;
font-size: larger;
position: fixed;
top:0;
width:100%;
} */

.topnav{
  width:100%;
  background-color: #f1f1f1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  text-align: center;
  position:fixed;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0);
}

.topnav a {
  float: left;
  padding: 12px;
  color: #666;
  text-decoration: none;
  font-size: 18px;

}

.topnav-header{
  float: left;
  font-size: 20px;
  color: #666;
  text-decoration: none;
  padding: 12px;
}

/* ul.topnav li {float: left;}

ul.topnav li a {
display: block;
color: #666;
text-align: center;
padding: 14px 16px;
text-decoration: none;
text-align: center;
} */


.topnav a:hover:not(.active) {
background-color: #555;
color: white;
}

/* ul.topnav li a.active {    
background-color: hsl(204, 68%, 62%);
color: white;} */

.active {    
background-color: hsl(204, 68%, 62%);
color: white;
}


/* ul.topnav li.right {float:right} */

/* @media screen and (max-width: 600px) {
  [class="topnav"]{
      margin-bottom: 0;
  }

ul.topnav li {float: none;}
} */

@media screen and (max-width:600px){
  .topnav {
    width: 100%;
    top: 100%;
    transform: translate(-50%, -100%);
    font-size: 8px;
    padding:0;
    float:left;
  }

  .topnav-header {
    font-size: 10px;
    padding:0;
    float:left;
  }

  .image5{
    width:50%;
    height: 50%;

  }

  .main-content_5 {
    font-size:small;
  }

  .content {
    display: grid;
    height:fit-content;
    width: auto;
    padding: 0;
    grid-template-rows: 1.5fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1;
    grid-template-areas: 
    "header header"
    "image5 content5"
    "image1 content1" 
    "image2 content2"
    "image3 content3" 
    "image4 content4"
    "footer-l footer-l "
    ;
    }
    margin-left: 0;

}