.container-p {
    display: grid;
    height: 100%;
    width: auto;
    padding: 0;
    grid-template-rows: 1.5fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 4fr 4fr 1fr;
    grid-template-areas: 
      "header header header header header"
      "left-sidebar image1 content1 content1 right-sidebar"
      "left-sidebar image2 content2 content2 right-sidebar"
      "left-sidebar image3 content3 content3 right-sidebar"
      "left-sidebar image4 content4 content4 right-sidebar"
      "left-sidebar image5 footer-l footer-r right-sidebar"
    ;
  }


@media screen and (max-width:600px){
  .container-p {
    display: grid;
    height: 100%;
    width: auto;
    padding: 0;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 4fr 4fr;
    grid-template-areas: 
        "header header header "
        "image1 content1 content1"
        "image2 content2 content2"
        "image3 content3 content3"
        "image4 content4 content4"
    ;
}
  
}